body{
background-color:black;
}

h1 {
	color: white;
	font-size: 40px;
	text-decoration: underline;
		font-family:Arial;
}

h2{
color:white;
text-decoration:underline;
font-family:Arial;
}

h3 {
	text-decoration: underline;
	color:white;
	font-family:Arial;
}

h4 {
	font-family:Arial;
	text-decoration:underline;
}	


.navbar {
  overflow: hidden;
  background-color: #838383;
  font-family: Arial;
}

.navbar a {
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}


p {
font-family: Arial;
color: white;
font-size: 18px;
}

ul {
	color: white;
	font-size: 18px;
}

table{
	border-spacing: 0;
	margin-bottom:0.5em;
	color:#ffffff;
	text-decoration:underline;
	font-size:20px;
	font-family:Arial
	
}
table th{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	
	
}
table tbody{
	color:white;
	text-decoration:none;
	font-family:Arial
}

li{
		color:white;
		font-family:arial;
}

footer{
	background-color: #838383;
}

footer p{
	font-size:16px;
}
	